@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

@layer components {
  .progress-fill {
    @apply bg-blue-500; /* Change fill color */
  }
}

:root {
  --color-appointments: #3b82f6;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 28, 28, 28;
    --background-end-rgb: 28, 28, 28;
  }
}

@layer base {
  :root {
    --background: var(--tw-color-background);
    --foreground: var(--tw-color-foreground);
    --primary: var(--tw-color-primary);
    --primary-foreground: var(--tw-color-primary-foreground);
    --secondary: var(--tw-color-secondary);
    --secondary-foreground: var(--tw-color-secondary-foreground);
    --destructive: var(--tw-color-destructive);
    --destructive-foreground: var(--tw-color-destructive-foreground);
    --border: var(--tw-color-border);
    --input: var(--tw-color-input);
    --ring: var(--tw-color-ring);
    --sidebar-background: 0 0% 100%;
  }

  .dark {
    --background: var(--tw-color-background-dark);
    --foreground: var(--tw-color-foreground-dark);
    --primary: var(--tw-color-primary-dark);
    --secondary: var(--tw-color-secondary-dark);
    --destructive: var(--tw-color-destructive-dark);
    --border: var(--tw-color-border-dark);
    --input: var(--tw-color-input-dark);
    --ring: var(--tw-color-ring-dark);
    --sidebar-background: 215 27.9% 16.9%;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bg-sidebar {
  background-color: hsl(var(--sidebar-background));
}