@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 28, 28, 28;
    --background-end-rgb: 28, 28, 28;
  }
}

@layer base {
  :root {
    --background: var(--tw-color-background);
    --foreground: var(--tw-color-foreground);
    --primary: var(--tw-color-primary);
    --primary-foreground: var(--tw-color-primary-foreground);
    --secondary: var(--tw-color-secondary);
    --secondary-foreground: var(--tw-color-secondary-foreground);
    --destructive: var(--tw-color-destructive);
    --destructive-foreground: var(--tw-color-destructive-foreground);
    --border: var(--tw-color-border);
    --input: var(--tw-color-input);
    --ring: var(--tw-color-ring);
  }

  .dark {
    --background: var(--tw-color-background-dark);
    --foreground: var(--tw-color-foreground-dark);
    --primary: var(--tw-color-primary-dark);
    --secondary: var(--tw-color-secondary-dark);
    --destructive: var(--tw-color-destructive-dark);
    --border: var(--tw-color-border-dark);
    --input: var(--tw-color-input-dark);
    --ring: var(--tw-color-ring-dark);
  }

  body {
    @apply bg-background text-foreground;
  }
}